body {
  color: #404040;
  background-attachment: fixed;
  background-image: url(../fondos/inicio.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #448040;
  font: 100 1em/150% "proxima-nova", Helvetica, sans-serif; }

.wrapper {
  max-width: 1200px;
  margin: auto auto auto 250; }

h1, h2, h3, h4 {
  font-weight: 900;
  color: #333;
  margin: 1.5em 0 0.5em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

strong {
  font-weight: 600; }

hr {
  border: none;
  height: 1px;
  background-color: rgba(51, 153, 204, 0.2); }

.img-placeholder {
  background-image: url("http://placehold.it/200x100/CC99CC/ffffff&text=Feature");
  background-size: cover;
  min-height: 100px;
  min-width: 100px; }

/*Basic Grid Styles*/
.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }

.u-textCenter {
  text-align: center; }

.Grid-cell {
  flex: 1; }

.Demo {
  padding: .8em 1em 0;
  margin-bottom: 1em;
  border: 1px solid #09433c;
  border-radius: 3px; }
  .Demo:after {
    content: "";
    display: block;
    margin-top: .8em;
    height: 1px; }

.content {
  background: #fff; }
  .content .sponsor {
    display: flex;
    flex-direction: row;
    /* make main axis horizontal (default setting) */
    justify-content: center;
    /* center items horizontally, in this case */
    /*align-items: center;      center items vertically, in this case */
    align-content: center;
    /* for multi-line flex container */
    height: auto;
    padding: 10px;
    flex-wrap: wrap; }
  .content a, .content a:hover, .content a:visited {
    text-decoration: none;
    font-weight: bolder;
    color: #264b24; }
  .content a:hover {
    text-decoration: underline;
    color: #448040; }

.Demo-total:after {
  content: "";
  display: block;
  margin-top: .8em;
  height: 1px; }

.Footer .copyright {
  display: flex;
  flex-direction: row;
  /* make main axis horizontal (default setting) */
  justify-content: center;
  /* center items horizontally, in this case */
  /*align-items: center;      center items vertically, in this case */
  align-content: center;
  /* for multi-line flex container */
  height: auto;
  padding: 10px;
  flex-wrap: wrap; }

.Footer a {
  text-decoration: none;
  color: #fff;
  font-size: x-small; }

/* With gutters*/
.Grid--gutters {
  margin-left: -1em; }
  .Grid--gutters .Grid-cell {
    padding-left: 1em; }
  .Grid--gutters .Grid--nested .Grid-cell:first-of-type .Demo {
    margin-right: 1em; }

/* Justify per row*/
.Grid--right {
  justify-content: flex-end; }

.Grid--center {
  justify-content: center; }

/* Alignment per row */
.Grid--top {
  align-items: flex-start; }

.Grid--bottom {
  align-items: flex-end; }

.Grid--center {
  align-items: center; }

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start; }

.Grid-cell--bottom {
  align-self: flex-end; }

.Grid-cell--center {
  align-self: center; }

.navigation {
  list-style: none;
  margin: 0 0 1em;
  border: 1px solid #09433c;
  border-radius: 3px;
  display: flex;
  padding: 0;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start; }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: .5em;
    color: #333; }
    .navigation a:hover {
      border-radius: 3px; }

#menu-toggle {
  display: none; }

.label-toggle {
  display: none; }

@media all and (max-width: 768px) {
  body {
    background-image: none; }
  .wrapper {
    margin: auto; }
  .navigation {
    justify-content: space-around; }
  #menu-toggle:checked ~ ul {
    opacity: 1;
    width: 100vw;
    visibility: visible; }
  .label-toggle {
    background: linear-gradient(to bottom, #09433c 0%, #09433c 20%, transparent 20%, transparent 40%, #09433c 40%, #09433c 60%, transparent 60%, transparent 80%, #09433c 80%, #09433c 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px; }
  ul {
    display: block;
    height: auto;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden; }
  li {
    display: flex;
    flex-direction: column; } }

@media all and (max-width: 480px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }
    .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .navigation li:last-of-type a {
      border-bottom: none; } }

/*===========================================*/
/* Base classes for all media - Mobile first */
.Grid--cols-2 > .Grid-cell {
  flex: 0 0 100%; }

.Grid--cols-3 > .Grid-cell {
  flex: 0 0 100%; }

.Grid--cols-4 > .Grid-cell {
  flex: 0 0 100%; }

.Grid--cols-6 > .Grid-cell {
  flex: 0 0 calc(50% - 1em); }

.Grid--cols-12 > .Grid-cell {
  flex: 0 0 calc(33.3333% - 1em); }

.Grid--holly-grail .aside, .Grid--holly-grail .main {
  flex: 1 100%; }

/* One of -- columns*/
.Grid--1of2 > .Grid-cell,
.Grid--1of4 > .Grid-cell:first-of-type,
.Grid--1of3 > .Grid-cell:first-of-type {
  flex: 0 0 100%; }

.Grid--1of6 > .Grid-cell:first-of-type {
  flex: 0 0 50%; }

.Grid--fit > .Grid-cell {
  flex: 1; }

.Grid--full > .Grid-cell {
  flex: 0 0 100%; }

/* Tablet (medium) screens */
@media (min-width: 30em) {
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 calc(50% - 1em); }
  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 calc(33.3333% - 1em); }
  .Grid--cols-12 > .Grid-cell {
    flex: 0 0 calc(16.6666% - 1em); }
  .Grid--holly-grail .aside {
    flex: 1 calc(25% - 1em); }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 30%; }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 50%; }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 100%; } }

/* Large screens */
@media (min-width: 48em) {
  .Grid--cols-2 > .Grid-cell,
  .Grid--cols-3 > .Grid-cell,
  .Grid--cols-4 > .Grid-cell,
  .Grid--cols-6 > .Grid-cell,
  .Grid--cols-12 > .Grid-cell {
    flex: 1; }
  .Grid--holly-grail .main {
    flex: 2; }
  .Grid--holly-grail .aside {
    flex: 1; }
  .Grid--holly-grail .aside-1 {
    order: 1; }
  .Grid--holly-grail .main {
    order: 2; }
  .Grid--holly-grail .aside-2 {
    order: 3; }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 16.6666%; }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 25%; }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 30%; }
  .Grid--gutters.Grid--nested .Grid-cell:first-of-type .Demo {
    margin-right: 0; } }

.content-1of1::before {
  content: "1"; }

.content-1of2::before {
  content: "1/2"; }

.content-1of3::before {
  content: "1/3"; }

.content-1of4::before {
  content: "1/4"; }

.content-1of6::before {
  content: "1/6"; }

.content-1of12::before {
  content: "1/12"; }
