#ano
{
    MARGIN: 0px;
    padding:0px;
    WIDTH: 35ex;
    BACKGROUND-COLOR: #0000cc
}
#validator
{
    WIDTH: 7ex
}
#bot
{
    WIDTH: 35ex
}
#bot #bot2
{
    FLOAT: left;
    WIDTH: 17.5ex;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff0000;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
#bot #bot1
{
    FLOAT: left;
    WIDTH: 17.4ex;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #006699;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
img
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
#ano #ano1
{
	FLOAT: left;
	WIDTH: 7ex;
	BACKGROUND-COLOR: #666666;
	TEXT-ALIGN: center;
	color: #FFFFFF;
}
#ano #ano2
{
	FLOAT: left;
	WIDTH: 21ex;
	BACKGROUND-COLOR: #666666;
	TEXT-ALIGN: center;
	color: #FFFFFF;
}
#ano #ano3
{
	FLOAT: left;
	WIDTH: 7ex;
	BACKGROUND-COLOR: #666666;
	TEXT-ALIGN: center;
	color: #FFFFFF;
}
#dias
{
    FLOAT: none;
    WIDTH: 35ex;
    BACKGROUND-COLOR: #F3F3F3
}
#dias .nomdia
{
    FLOAT: left;
    margin-TOP: 0.4ex;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    BACKGROUND-COLOR: #C0C0C0;
    TEXT-ALIGN: center
}
#sem1
{
    FLOAT: none;
    WIDTH: 35ex
}
#sem1 .numdia
{
    FLOAT: left;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    TEXT-ALIGN: center
}
#sem2
{
    FLOAT: none;
    WIDTH: 35ex
}
#sem2 .numdia
{
    FLOAT: left;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    TEXT-ALIGN: center
}
#sem3
{
    FLOAT: none;
    WIDTH: 35ex
}
#sem3 .numdia
{
    FLOAT: left;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    TEXT-ALIGN: center
}
#sem4
{
    FLOAT: none;
    WIDTH: 35ex
}
#sem4 .numdia
{
    FLOAT: left;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    TEXT-ALIGN: center
}
#sem5
{
    FLOAT: none;
    WIDTH: 35ex
}
#sem5 .numdia
{
    FLOAT: left;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    TEXT-ALIGN: center
}
#sem6
{
    FLOAT: none;
    WIDTH: 35ex
}
#sem6 .numdia
{
    FLOAT: left;
    MARGIN-LEFT: 0.8ex;
    WIDTH: 4ex;
    TEXT-ALIGN: center
}
#mes1
{
    FLOAT: none;
    MARGIN-BOTTOM: 0.4ex;
    WIDTH: 35ex
}
#mes1 .nommes
{
    BORDER-RIGHT: #ffcc33 0.1ex solid;
    BORDER-TOP: #ffcc33 0.1ex solid;
    FLOAT: left;
    MARGIN-BOTTOM: 0.4ex;
    MARGIN-LEFT: 0.4ex;
    BORDER-LEFT: #ffcc33 0.1ex solid;
    WIDTH: 5ex;
    BORDER-BOTTOM: #ffcc33 0.1ex solid;
    TEXT-ALIGN: center
}
#mes2
{
    FLOAT: none;
    WIDTH: 35ex
}
#mes2 .nommes
{
    BORDER-RIGHT: #ffcc33 0.1ex solid;
    BORDER-TOP: #ffcc33 0.1ex solid;
    FLOAT: left;
    MARGIN-LEFT: 0.4ex;
    BORDER-LEFT: #ffcc33 0.1ex solid;
    WIDTH: 5ex;
    BORDER-BOTTOM: #ffcc33 0.1ex solid;
    TEXT-ALIGN: center
}
a{
	text-decoration:none;
	color: #999999;
}
.anos {
	color: #FFFFFF;
	text-decoration: none;
}

