@charset "utf-8";
#contenido .filagris {
	background-color: #EEF7EE;
	font-size: 90%;
}
#contenido .titulolistado {
	background-color: #448040;
	font-weight: bold;
	color: #FFFFFF;
}
#contenido .filablanca {
	background-color: #FFFFFF;
	font-size: 90%;
}
/* CSS Document */
#cab {
	height: 100px;
	width: 1024px;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: 90%; */
	text-align: left;
	background-color: #448040;
	background-image: url(../images/fondogestor.gif);
	background-repeat:  repeat-y;
}
.labelinput {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	vertical-align: top;
}
#contenido .tablaizq fieldset {
	border: 1px solid #448040;
	margin-top: 0em;
	margin-right: 3em;
	margin-bottom: 0em;
	margin-left: 3em;
}
#contenido .tablader fieldset {
	border: 1px solid #448040;
	margin-top: 0em;
	margin-right: 3em;
	margin-bottom: 0em;
	margin-left: 3em;
}

.separador {
	margin: 0px;
	padding: 0px;
	width: 1024px;
	background-color: #448040;
	height: 10px;
	float: left;
	clear: right;
}
#opciones {
	height: 75px;
	width: 950px;
	background-color: #D9EBD8;
	padding-left: 54px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	clear: left;
}
#opciones ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#contenido {
	background-color: #D9EBD8;
	height: auto;
	width: 950px;
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 54px;
	z-index: -1;
}
.lateralizq {
	width: 25px;
}
.columnaselect {
	width: 25px;
}
.columnaeditar{
	width: 25px;
}
.columnafecha{
	width: 100px;
}
#contenido #form1 td {
	text-align: left;
	vertical-align: top;
}
#espere {
	position:absolute;
	width:32px;
	height:32px;
	z-index:1;
	left: 496px;
	top: 400px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	background-color: #FFFFFF;
	right: auto;
	bottom: auto;
}


#opciones li a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
#opciones li a:hover {
	text-decoration: underline overline;
}
#opciones .liselect {
	list-style-type: square;
}
#submenu {
	width: 1024px;
}
#error {
	position: absolute;
	height: 200px;
	width: 300px;
	top: 304px;
	bottom: 400px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #448040;
	left: 236px;
	overflow: auto;
	font-size: 90%;
	background-image: url(../images/pixelblanco.gif);
	background-repeat: repeat;
	z-index: 20;
}
.errortexto {
	color: #FF0000;
	font-weight: bold;
	background-color: #FFFFFF;
}
#error #errorcab a {
	font-weight: bold;
	text-decoration: none;
	color: #448040;
}


#error #errorcab {
	height: 20px;
	width: 283px;
	background-color: #FFFFFF;
}
#error #errormsn {
	overflow: auto;
	text-align: justify;
	padding: 10px;
	height: auto;
	width: 263px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-color: #FFFFFF;
}
.linkBlanco {
	color: #FFFFFF;
	text-decoration: none;
}

#contenido .galeriaImagen {
	padding: 5px;
	border: 1px solid #666666;
	margin: 5px;
	background-color: #FFFFFF;
	width: 800px;
	height: auto;
	float: left;
}
#contenido .galeriaImagen .Imagen {
	float: left;
	width: 250px;
	text-align: center;
	vertical-align: middle;
}
#contenido .galeriaImagen .DatosImagen {
	padding-left: 260px;
	font-size: 80%;
}
#contenido .galeriaImagen .DatosImagen ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.inputDerecha {
	text-align: right;
}
#contenido .galeriaImagen .tituloImagen {
	background-color: #FFFFFF;
	font-size: 75%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#contenido .galeriaImagen .pieImagen {
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 90%;
}
.EliminarImagen {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	font-size: 70%;
}
.VerDoc {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-size: 90%;
}
.textoimagen {
	background-color: #CCCCFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ImagenBorrar {
	cursor: pointer;
	padding-right: 1em;
}
.ImagenBorrarSub {
	cursor: pointer;
	padding-right: 1em;
}
#contenido .tablaizq {
	float: left;
	width: 50%;
	clear: left;
	position: relative;
}
#contenido .tablader {
	width: 50%;
	float: right;
	position: relative;
}
#contenido .textolargo {
	float: left;
	width: auto;
	clear: left;
	position: relative;
}
#contenido #formEntrada .tablaizq .tablaformizq {
	margin: 0px;
	padding: 0px;
}
#contenido #formEntrada .tablader .tablaformder {
	margin: 0px;
	padding: 0px;
}
#contenido #formEntrada .textolargo .tablaformtextolargo {
	margin: 0px;
	padding: 0px;
}


#contenido #formEntrada .campoform {
	float: left;
	width: 100%;
	padding-top: 2px;
}

#contenido #formEntrada .tituloentradaform {
	width: 205px;
	float: left;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #448040;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
}

#contenido #formEntrada .valorentradaform {
	width: auto;
	background-color: #D9EBD8;
	float: left;
}
#contenido2 {
	background-color: #D9EBD8;
	height: auto;
	width: 950px;
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 54px;
	z-index: -1;
}
#contenido2 .textolargo {
	float: left;
	width: auto;
	clear: left;
	position: relative;
}
#contenido2 #uploadform .textolargo .tablaformtextolargo {
	margin: 0px;
	padding: 0px;
}
#contenido2 #uploadform .tituloentradaform {
	width: 205px;
	float: left;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #448040;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
}
#contenido2 #uploadform .campoform {
	float: left;
	width: 100%;
	padding-top: 2px;
}
#contenido2 #uploadform .valorentradaform {
	width: auto;
	background-color: #D9EBD8;
	float: left;
}
.IconosTurismo{
	float:left;
	width:100px;
}
.letraIcono{
font-size:70%;
}
.limpiar {
	clear: both;
}
#contenido .tablaizqBanner  {
	float: left;
	width: 740px;
	clear: left;
	position: relative;
}
#contenido .tabladerBanner {
	width: 200px;
	float: right;
	position: relative;
	background:#FFF;
	overflow:auto;
	height: 500px;
	margin: 0px;
	padding: 0px;
}
#contenido .tabladerBanner .listabanners{
	margin: 5px;
	padding: 0px;
}
#contenido .tabladerBanner .listabanners li{
	margin: 5px;
	padding: 5px;
	text-align: center;
	float: left;
}
